/*-- scss:defaults --*/
// Warwick colors:
$w_aubergine: #552D62;
$w_grey: #393A3B;
$w_ruby_red: #9A1310;
$w_sky_blue: #00407A;



// Reveal colors:
$body-bg: white;
$body-color: $w_grey;
$link-color: $w_aubergine;


/*-- scss:rules --*/
.reveal {
  code {
    color: $link-color;
  }
}

#title-slide {
  
}

.slide-primary{
  background-color: $link-color;
  color: white;
}

.has-dark-background {
  aside {
    color: white !important;
      a {
        color: $link-color !important;
      }
  }
}